.wlcm h3{
    font-size: 22px;
    color: #d92351;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin-top: 0;
    line-height: 1.5em;
    font-family: Quicksand;
}
.wlcm h1{
    font-size: 52px;
    color: #222;
    /* margin-bottom: 20px; */
    font-weight: 900;
    margin-top: 0;
    line-height: 1.5em;
    font-family: Quicksand;
}
.wlcm button{
    line-height: 1.5em;
    color: #fff;
    font-size: 15px;
    font-family: Quicksand;
    font-weight: 400;
    padding: 13px 40px;
    border-radius: 50px;
    background-color: #d92351;
    border: none;
}
.curly-box1{
    background-color: #ffe3e7;
    position: relative;
    padding: 20px 0;
}
.first{
    padding-top: 100px;
}
.box2 h3{
    font-size: 15px;
    margin-bottom: 20px;
    color: #d92351;
    letter-spacing: 1.3px;
    font-family: Quicksand;
    line-height: 1.5em;
    font-weight: 700;
    margin-top: 0;
}
.box2 h2{
    font-size: 40px;
    margin-bottom: 30px;
    color: #333;
    font-family: Quicksand;
    line-height: 1.5em;
    font-weight: 700;
    margin-top: 0;
}
.box2 p{
    margin-bottom: 30px;
    color: #666;
    margin-top: 0;
    font-weight: 400;
    font-size: 17px;
    font-family: Quicksand;
    line-height: 1.5em;
}
.box2 button{
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    font-family: Quicksand;
    line-height: 1.5em;
    border-radius: 25px;
    background-color: #d92351;
    border: none;
    padding: 13px 40px;
}
.box2{
    margin-top: 120px;
}
.box3 h3{
    font-family: Quicksand;
    font-size: 15px;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    color: #d92351;
    letter-spacing: 1.3px;
    
}
.box3 h2{
    font-family: Quicksand;
    font-size: 40px;
    line-height: 1.5em;
    margin-top: 0;
    color: #333;
    font-weight: 700;
    margin-bottom: 45px;
}
.cards h3{
    font-size: 22px;
    color: #333;
    font-weight: 700;
    line-height: 1.5em;
    font-family: Quicksand;
    margin-top: 0;
    margin-bottom: 15px;
    /* text-align: center; */
}
.cards p{
    font-size: 15px;
    color: #666;
    font-weight: 400;
    line-height: 1.5em;
    font-family: Quicksand;
    margin-top: 0;
    margin-bottom: 15px;
    /* text-align: center; */
}
.cards img{
    vertical-align: middle;
    align-items: center;
    text-align: center;
}

.fourth{
    margin-top: 120px;
}
.cards{
    align-items: center;
    text-align: center;
}
 .box4{
    background-color: #dff4ff;
    margin-top: 150px;
 }
 /* .combo h3{
    
 } */
  .plus button{
    font-weight: 700;
    padding: 14px 18px;
    background: #fff;
    font-family: Quicksand;
    font-size: 15px;
    border-radius: 15px;
    border-style: none;
    margin-top: 15px;
    line-height: 1.5em;
    color: #333;
    width: 100%;
    text-align: left;
  }
  .plus{
    margin-top: 120px;
  }
  .fifth{
    margin-top: 100px;
    margin-bottom: 250px;
  }
  .fvth img{
    margin-bottom: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .fvth{
    text-align: center;
    position: relative;
    display: flex;
  }
  .fb{
    background-color: #4b6bab;
    margin-right: 5px;
    padding: 15px 19px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
  }
  .twt{
    background-color: #00b0f4;
    margin-right: 5px;
    padding: 15px 19px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
  }
  .ggle{
    background-color: #f63832;
    margin-right: 5px;
    padding: 15px 19px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    border: none;
  }
  .fvth h3{
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
    color: #000;
    font-family: Quicksand;
    margin-bottom: 0;
    line-height: 1.5em;
  }
  .fvth p{
    font-size: 15px;
    margin-top: 0;
    color: #666;
    font-weight: 400;
    font-family: Quicksand;
    margin-bottom: 0;
    line-height: 1.5em;
  }
  .logos{
    display: flex;
    margin-bottom: 0;
    justify-content: center;
  }
  .box6 h3{
    font-family: Quicksand;
    font-size: 15px;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    color: #d92351;
    letter-spacing: 1.3px;
  }
  .box6 h2{
    font-family: Quicksand;
    font-size: 40px;
    line-height: 1.5em;
    margin-top: 0;
    color: #333;
    font-weight: 700;
  }
  .box6{
    margin-top: 150px;
    padding: 20px 0;
    align-items: center;
    margin-bottom: 100px;
  }
  .seventh{
    background-color: #e1fceb;
    align-items: center;
  }
  .svt{
    margin-top: 50px;
  }
  .card{
    justify-content: space-evenly;
    align-items: center;
  }

  @media screen and (min-width: 400px) and (max-width:1200px){
    .card{
      padding: 15px;
      align-items: center;
      text-align: center;
    }
  }

